body {
    margin: 0;
    padding: 0;
    background: url(../img/fondo1.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  .contenedor-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: right;
    align-items: right;
    max-width: 1000px;
    height: inherit;
  }
  
  .enlaces a{
    display: inline-block;
    padding: 5px 0;
    margin-top: 17px;
    margin-right: 17px;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
    color:#C0AA59;
  }
  .enlaces a:hover{
    border-bottom: 3px solid #070707;
    transition: 0.6s;
  }
  
  img {
    vertical-align: baseline;
    margin-right: 700px;
  }